.slds-spinner-text {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin: 0 auto; /* Center horizontally */
  text-align: center; /* Ensure text aligns centrally */
  max-width: 100%; /* Prevent overflow beyond the parent container */
  overflow-wrap: break-word; /* Handle long words gracefully */
}

.slds-spinner_container.slds-is-fixed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9002;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.25rem;
}
